.faq {
        margin: 48px auto;

        .faq__list {
            list-style-type: decimal;
            counter-reset: item;

            li {
                counter-increment: item;
                padding: 16px;

                &::marker {
                    content: counter(item, decimal-leading-zero);
                    font-weight: bold;
                }
            }
        }

        .faq__element {
            color: #565656;
            margin: 10px auto;

            &.active {
                color: #020220;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 150vw;
                    height: 100%;
                    background-color: #EAF6FF;
                    z-index: -1;
                }

                .element__body {
                    display: block;
                }
            }

            .element__title {
                margin: 0;
            }

            .element__body {
                display: none;
            }
        }
    }