<footer class="footer">
        <div class="footer__social">
            <div class="social__img">
                <img src="assets/icons/logo.svg">
            </div>
            <div class="social__polit">
                <p>
                    Copyright © 2025
                </p>
                <a href="#">
                    Ranking i porównanie hostingów
                </a>
                <p>
                    Powered by Vmline.pl
                </p>
                <a href="#">
                    Polityka prywatności
                </a>
            </div>
            <div class="social__networks">
                <a>
                    <img src="assets/icons/Facebook.svg">
                </a>
                <a>
                    <img src="assets/icons/Instagram.svg">
                </a>
                <a>
                    <img src="assets/icons/X.svg">
                </a>
                <a>
                    <img src="assets/icons/Email.svg">
                </a>
            </div>
        </div>
        <div class="footer__nav">
            <div class="nav__column">
                <p class="column__title">
                    Popularne
                </p>
                <ul class="column__list">
                    <li>
                        <a href="#">Serwery dedykowane</a>
                    </li>
                    <li>
                        <a href="#">Hosting w chmurze</a>
                    </li>
                    <li>
                        <a href="#">Hosting dla sklepu</a>
                    </li>
                    <li>
                        <a href="#">Hosting zagraniczny</a>
                    </li>
                    <li>
                        <a href="#">Hosting Wordpress</a>
                    </li>
                </ul>
            </div>
            <div class="nav__column">
                <p class="column__title">
                    Opinie
                </p>
                <ul class="column__list">
                    <li>
                        <a href="#">Nazwa.pl opinie</a>
                    </li>
                    <li>
                        <a href="#">HostingHouse opinie</a>
                    </li>
                    <li>
                        <a href="#">Atthost opinie</a>
                    </li>
                    <li>
                        <a href="#">Seohost opinie</a>
                    </li>
                    <li>
                        <a href="#">Smarthost recenzja</a>
                    </li>
                </ul>
            </div>
            <div class="nav__column">
                <p class="column__title">
                    Nowości
                </p>
                <ul class="column__list">
                    <li>
                        <a href="#">Hostido recenzja</a>
                    </li>
                    <li>
                        <a href="#">AZ recenzja</a>
                    </li>
                    <li>
                        <a href="#">LH opinie</a>
                    </li>
                    <li>
                        <a href="#">Seohost opinie</a>
                    </li>
                    <li>
                        <a href="#">Smarthost recenzja</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>