
body {
  	font-family: 'SF Pro Display', sans-serif;
  	background-color: #FAFAFF;
  	max-width: 1440px;
  	margin: 0 auto; 
}

.main {
    max-width: 782px;
    margin: 4rem auto;
}

 hr {
    border: none;
    border-top: 1px solid #D6D6D6;
}