@import 'fonts';
@import 'header';
// @import 'main-container';
// @import 'footer';
@import 'mobile';

body {
  	font-family: 'SF Pro Display', sans-serif;
  	background-color: #FAFAFF;
  	max-width: 1440px;
  	margin: 0 auto; 
}
