
			<div class="main__advantages__block main__advantages__block--{{ type }}">
				<h2 class="main__advantages__title"><img src="assets/icons/{{ icon }}" alt="">{{ title }}</h2>
				<hr>
				<ul>
					{% for item in items %}
						<li>{{ item }}</li>
					{% endfor %}
				</ul>
			</div>