
			<div class="main__advantages__block main__advantages__block--{{ advantages.type }}">
				<h2 class="main__advantages__title"><img src="assets/icons/{{ advantages.icon }}" alt="">{{ advantages.title }}</h2>
				<hr>
				<ul>
					{% for item in advantages.items %}
						<li>{{ item }}</li>
					{% endfor %}
				</ul>
			</div>