
           <ol class="faq__list">
                {% for faq in faqs %}
                    <li class="faq__element {% if loop.first %}active{% endif %}">
                        <h3 class="element__title">
                            {{ faq.title }}
                        </h3>
                        <p class="element__body">
                            {{ faq.body }}
                        </p>
                    </li>
                {% endfor %}
            </ol>
