<div class="header__baner">
    <div class="baner__text">
        <h1>
            Ranking Najlepszych i Niezawodnych <span class="text__accent">Hostingów w Polsce</span>
        </h1>
        <p>
            Masz problem ze znalezieniem idealnego hostingu dla swojej strony lub bloga?
            Jesteś <span class="hidden__point">...</span> 
            <span class="hidden__text">we właściwym miejscu! Na vmline.pl znajdziesz Ranking Hostingów w Polsce , 
            który kompleksowo porównuje oferty firm hostingowych. Przedstawiamy zarówno najtańsze opcje ekonomiczne, 
            jak i najdroższe serwery o najwyższych parametrach technicznych. 
            Dzięki nam łatwo znajdziesz hosting dopasowany do Twoich potrzeb i budżetu. 
            </span>
        </p>
        <p class="hidden__text">
            Zaufaj naszym rzetelnym analizom i wybierz najlepszy hosting dla siebie!
        </p>    
        <button class="read__more">show more</button>
    </div>
    <div class="baner__img">
        <img src="assets/icons/cover-img.svg" alt="cover"> 
    </div>
</div>