<section class="main__table">
            <table class="table">
                <tr>
                    <td>Lorem ipsum dolor sit amet consectetur.</td>
                    <td>Lorem ipsum dolor sit amet consectetur.</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit amet consectetur.</td>
                    <td>Lorem ipsum dolor sit amet consectetur.</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit amet consectetur.</td>
                    <td>Lorem ipsum dolor sit amet consectetur.</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit amet consectetur.</td>
                    <td>Lorem ipsum dolor sit amet consectetur.</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit amet consectetur.</td>
                    <td>Lorem ipsum dolor sit amet consectetur.</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit amet consectetur.</td>
                    <td>Lorem ipsum dolor sit amet consectetur.</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit amet consectetur.</td>
                    <td>Lorem ipsum dolor sit amet consectetur.</td>
                </tr>
            </table>
        </section>