
        <section class="main__video">
            <h2>{{ title }}</h2>
            <div class="video__preview">
                <img src="{{ video }}" alt="{{ video_title }}">
            </div>
        </section>   