
        <section class="main__video">
            <h2>
                Najlepsze PL firmy hostingowe według branży lub usługi
            </h2>
            <div class="video__preview">
                <img src="assets/images/video-preview.png" alt="Video preview">
            </div>
        </section>